html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
    position: fixed;
 }

#overlays {
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:
    rgba(0,0,0,0.5);
    z-index: 200;
}

#title {
    padding: 10px;
}

#canvas {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#connecting {
    display:none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

#nick {
    width: 65%;
    float: left;
}

#skin {
    width: 33%;
    float: right;
}

#gamemode {
    margin-top: 20px;
    width: 100%;
}

#helloDialog {
    width: 400px;
    background-color: #FFFFFF;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#chat_textbox {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    background: rgba(0, 0, 0, .2);
    border: 0px;
    outline: none;
    color: #FFF;
    height: 30px;
    text-indent: 12px;
    left: 10px;
    width: 300px;
}

#chat_textbox:focus {
    background: rgba(0, 0, 0, .5);
}

#footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}

#play-btn {
    width: 85%;
    float: left;
}

#settings-btn {
    width: 13%;
    float: right;
}

#spectate-btn {
    width: 100%;
    margin-top: -5px;
}

#mobileStuff {
    display: none;
}
#touchpad, #touchCircle, #splitBtn, #ejectBtn {
    position: fixed;
}
#touchpad, #splitBtn, #ejectBtn {
    z-index: 2;
}
#touchpad {
    background: #000;
    opacity: 0.3;
    width: 20vw;
    height: 20vh;
    left: 0;
    bottom: 0;
}
#touchCircle {
    width: 4vw;
    height: 4vw;
    border-radius: 2vw;
    background: #f00;
    opacity: 0.3;
    z-index: 3;
}
#splitBtn, #ejectBtn {
    width: 8vw;
    height: 8vw;
    border-radius: 4vw;
    background: #777;
    opacity: 0.5;
}
#splitBtn {
    right: 18vw;
    bottom: 0;
}
#ejectBtn {
    bottom: 18vw;
    right: 0;
}

#volumeInput {
    display: none;
    width: 100px;
    height: 18px;
    vertical-align: middle;
}

.checkbox label {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.center {
    display: table;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
